# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d

#model files
*.mdl

#files created by build
*.apk
*.ap_
*.class
drbeef-release-key.keystore
projects/Android/build/*
Projects/Android/.cxx/*
*.json
Projects/Android/.externalNativeBuild/*
*.bin
*.ser
Projects/Android/.idea/*
.gradle/*
**/local.properties
Projects/Android/.gradle/*
Projects/Android/Android.iml
Projects/Android/libs/arm64-v8a/libopenxr_loader_meta.so
Projects/Android/libs/arm64-v8a/libopenxr_loader_pico.so
assets/res/Debug/
